.grid {
	display: flex;
	flex-wrap: wrap;
}
.header {
	order: 0;
	background-color: #1e88e5;
	min-height: 90px;
	width: 100%;
}
.header-wrap {
	width: 85%;
	margin: 0 auto;
}
.header-inner {
	width: 100%;
}
.header-logo {
  	vertical-align: top;
  	margin-top: 10px;
  	height: 70px;
	margin-right: 0.5em;
}
.header-title {
	font-weight: lighter;
  	font-size: 1.8em;
   	color: #fff;
  	padding: 0.9em 0.25em;
  	display: inline-block;
}
.header-menu {
	display: inline-block;
	position: absolute;
	right: 2em;
	top: 1.1em;
}
.nav-container {
	width: 100%;
}
.header-menu svg {
	width: 42px;
	fill: #fff;
}
.nav {
	z-index: 10;
	background-color: #fff;
	width: 500px;
	position: absolute;
	/* This trasform moves the drawer off canvas. */
	-webkit-transform: translate(-560px, 10px);
	transform: translate(-560px, 10px);
	/* Optionally, we animate the drawer. */
	transition: transform 0.3s ease;
	margin-left: auto;
  	margin-right: auto;
}
.nav.open {
	-webkit-transform: translate(-60px, 10px);
	transform: translate(-60px, 10px);
}
.nav-list {
  width: 100%;
  padding: 0;
  margin: 0;
}
.nav-item {
	display: list-item;
	border-bottom: 1px solid #E0E0E0;
	width: 100%;
	text-align: left;
	line-height: 24px;
	padding: 32px;
}
.nav a {
	text-decoration: none;
	color: #616161;
	text-transform: uppercase;
	font-size: 1.5em;
}
.nav a:hover {
	text-decoration: underline;
	color: #212121;
}
.main {
	width: 100%;
}
.container {
	width: 85%;
	margin: 0 auto;
}
.image {
	width: 100%;
	height: 500px;
	background-color: #eee;
}
.work {
	display: flex;
	flex-wrap: wrap;
	height: 500px;
	background-color: #eef;
}
.project {
	display: flex;
	flex-wrap: wrap;
}
.project-list {
	width: 33.33333%;
}



.univ {
	padding: 60px 0 30px 0;
}
.section-title {
	margin-bottom: 2em;
}
.univ-logo {
	width: 100px;
	height: 100px;
	border: 3px solid #757575;
	border-radius: 50%;
	vertical-align: middle;
}
.name-wrap {
	display: inline-block;
	vertical-align: top;
	margin: 0.6em 0.25em 0.35em 1em;
}
.univ-title {
	font-size: 1.4em;
	margin-bottom: 5px;
}
.edu {
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	border-bottom: 5px solid #E040FB;
	padding-bottom: 5px;
	font-size: 1.4em;
	text-transform: uppercase;
}
.coll-info {
	font-size: 1.2em;
	margin-bottom: 3px;
	vertical-align: top;
}
.courses {
	padding: 30px 20px;
}
.course-title {
	font-size: 1.2em;
	margin-bottom: 5px;
}
.course-list {
	list-style-type: circle;
}
.course-item {
	margin: 0.9em .3em;
	font-size: 1.1em;
}
.cntct {
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	border-bottom: 5px solid #80D8FF;
	padding-bottom: 5px;
	font-size: 1.4em;
	text-transform: uppercase;
}
.contact-list {
	margin-bottom: 4em;
}
.contact-info {
	margin: 0 0.25em 0.25em 0.45em;
}
.contact-item {
	margin: 0.9em .3em;
	font-size: 1.1em;
}
.connect-wrap {
	width: 85%;
	margin: 0 auto;
}
.connect {
	order: 3;
	margin: 2em 5em;
}
.social {
	display: inline-block;
	margin: 0.2em 0.2em;
}
.social img {
	z-index: 10;
}
.fa {
	background-color: #eee;
	border-radius: 55%;
	padding: 0.7em 0.7em;
	font-size: 2em !important;
}
.fa-linkedin:hover{
	background-color: #1b86bc;
	color: #fff;
}
@media screen and (max-width: 480px) {
	.header-title {
		font-size: 1.5em;
		padding: 1.2em 0.25em;
	}
}